@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    /* Colors */
    /* Primary */
    --fluorescent-red: #ff5757;
    --too-gold: #ffb01f;
    --cong-lu-green: #00bd91;
    --lapis-on-neptune: #1125d4;

    /* Gradients */
    --venetian-nights: #7857ff;
    /* (background) */
    --palatinate-blue: #2e2be9;
    /* (background) */
    --blue-purple: #4e21ca;
    /* (circle) */
    --tetraammine: rgba(36, 33, 202, 0);
    /* (circle) */

    /* Neutral */
    --white: #ffffff;
    --brilliant-white: #ebf1ff;
    --lavender-blue: #c8c7ff;
    --winter-sea: #303b5a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* 1rem == 10px */
    font-size: 65.5%;
}

body {
    min-height: 100vh;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 37.5rem;
    background-color: var(--white);
}

.card .card__result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 6rem 0 6rem;
    color: var(--brilliant-white);
    text-align: center;
    background: rgb(120, 87, 255);
    background: linear-gradient(180deg, rgba(120, 87, 255, 1) 0%, rgba(46, 43, 233, 1) 100%);
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.card .card__result h4 {
    margin: 3rem 0;
}

.card .card__score {
    background: rgb(78, 33, 202);
    background: linear-gradient(180deg, rgba(78, 33, 202, 1) 0%, rgba(36, 33, 202, 0) 100%);
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .card__result .card__score p {
    font-size: 6.4rem;
    color: var(--white);
    font-weight: 800;
    margin: 0;
}

.card .card__result .card__score span {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
}

.card .card__result h3 {
    margin: 3rem 0 .8rem 0;
}

.card .card__result p {
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 3.5rem;
}

.card .card__summary {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card .card__summary .card__summary-result {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.card .card__summary h3 {
    font-size: 1.6rem;
}

.card .card__summary .card__summary-result h4 {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.card .card__summary .card__summary-result p {
    color: rgba(48, 59, 90, 0.6);
}

.card .card__summary .card__summary-result p span {
    color: var(--winter-sea);
}

.card .card__summary .card__summary-result-1 {
    color: var(--fluorescent-red);
    background-color: rgba(255, 87, 87, 0.08);
}

.card .card__summary .card__summary-result-2 {
    color: var(--too-gold);
    background-color: rgba(255, 176, 31, 0.08);
}

.card .card__summary .card__summary-result-3 {
    color: var(--cong-lu-green);
    background-color: rgba(0, 189, 145, 0.08);
}

.card .card__summary .card__summary-result-4 {
    color: var(--lapis-on-neptune);
    background-color: rgba(17, 37, 212, 0.08);
}

.card .card__summary .card__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    color: var(--white);
    font-size: 1.6rem;
    background-color: var(--winter-sea);
    border-radius: 3rem;
    cursor: pointer;
}