@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    /* Fonts */
    --primary-font: 'Lexend Deca', sans-serif;
    --secondary-font: 'Big Shoulders Display', cursive;

    /* Colors */

    /* Fonts colors */
    --transparent-white: hsla(0, 0%, 100%, 0.749);
    --very-light-gray: hsl(0, 0%, 95%);

    /* Elements colors */
    --french-toast: rgb(227, 136, 38);
    --tahitian-treat: rgb(0, 105, 112);
    --warm-black: rgb(0, 66, 65);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    font-family: var(--primary-font);
    font-size: 1rem;
    color: var(--very-light-gray);
    min-height: 100vh;
    background-color: var(--very-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    margin: 4rem 2rem;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 144rem;
    border-radius: 1rem;
    overflow: hidden;
}

.card {
    padding: 2rem;
}

.card h2 {
    font-family: var(--secondary-font);
    font-size: 3.2rem;
    text-transform: uppercase;
    margin: 2rem 0;
}

.card p {
    margin: 1rem 0;
    color: var(--transparent-white);
    line-height: 1.5rem;
}

.card a {
    display: inline-block;
    margin: 1.5rem 0;
    padding: .8rem 2rem;
    background-color: var(--very-light-gray);
    border: 1px solid var(--very-light-gray);
    border-radius: 2.5rem;
    cursor: pointer;
}

.card .card-icon img {
    object-fit: cover;
    height: 2.5rem;
}

.card-1 {
    background-color: var(--french-toast);
}

.card-1 a {
    color: var(--french-toast);
}

.card-1 a:hover {
    color: var(--very-light-gray);
    background-color: var(--french-toast);
}

.card-2 {
    background-color: var(--tahitian-treat);
}

.card-2 a {
    color: var(--tahitian-treat);
}

.card-2 a:hover {
    color: var(--very-light-gray);
    background-color: var(--tahitian-treat);
}

.card-3 {
    background-color: var(--warm-black);
}

.card-3 a {
    color: var(--warm-black);
}

.card-3 a:hover {
    color: var(--very-light-gray);
    background-color: var(--warm-black);
}

@media only screen and (min-width: 1440px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .card p {
        margin-bottom: 2rem;
    }
}