@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    /* Colors */

    /* Primary */
    --khmer-curry: #ea5353;
    --medium-turquoise: #45d3d3;
    --butterscotch: #fcaf4a;
    --feather-star: #549ef2;

    /* Neutral */
    --voyager: #4c4e61;
    --spun-pearl: #a3a5ae;
    --dr_white: #fafafa;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    color: var(--spun-pearl);
    background-color: var(--dr_white);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

main {
    width: 100%;
}

.hero {
    max-width: 31rem;
    margin: 0 auto;
}

.hero .hero__text {
    margin: 8rem auto;
    text-align: center;
}

.hero .hero__text h1 {
    font-weight: 200;
    color: var(--voyager);
}

.hero .hero__text h1 span {
    font-weight: 600;
}

.hero .hero__text p {
    margin-top: 3rem;
}

.hero .cards {
    margin: 8rem auto;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    max-width: 31rem;
}

.hero .cards .cards__wrapper {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.hero .cards .card {
    width: 100%;
    border-radius: 1rem;
    padding: 2.5rem 3rem;
    box-shadow: 1px 2px 20px 1px rgba(163, 165, 174, 0.7);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.hero .cards .card h4 {
    font-size: 1.8rem;
    line-height: 1.8;
    font-weight: 600;
    color: var(--voyager);
}

.hero .cards .card p {
    font-weight: 200;
    font-size: 1.2rem;
    line-height: 2;
}

.hero .cards .card.card--turquoise {
    border-top: 3px solid var(--medium-turquoise);
}

.hero .cards .card.card--khmer-curry {
    border-top: 3px solid var(--khmer-curry);
}

.hero .cards .card.card--butterscotch {
    border-top: 3px solid var(--butterscotch);
}

.hero .cards .card.card--feather-star {
    border-top: 3px solid var(--feather-star);
}

.hero .cards .card .card__icon {
    margin-top: 4rem;
    width: 5.5rem;
    align-self: flex-end;
    justify-self: end;
}

@media screen and (min-width: 1440px) {
    .hero {
        max-width: 144rem;
    }

    .hero .hero__text {
        font-weight: 400;
        max-width: 50rem;
    }

    .hero .hero__text h1 {
        font-size: 3.6rem;
    }

    .hero .hero__text h1 span {
        display: block;
    }

    .hero .hero__text p {
        font-weight: 400;
    }

    .hero .cards {
        max-width: 114rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .hero .cards .cards__wrapper {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    .hero .cards .card {
        max-width: 35rem;
        min-height: 25rem;
        display: grid;
    }

    .hero .cards .card .card__icon {
        width: 6.5rem;
    }
}